[submodule "cmc-auth"]
	path = cmc-auth
	url = ../cmc-auth.git
[submodule "cmc-user"]
	path = cmc-user
	url = ../cmc-user.git
[submodule "cmc-app"]
	path = cmc-app
	url = ../cmc-app.git
[submodule "cmc-upload"]
	path = cmc-upload
	url = ../cmc-upload.git
[submodule "cmc-mailer"]
	path = cmc-mailer
	url = ../cmc-mailer.git
[submodule "cmc-iot"]
	path = cmc-iot
	url = git@github.com:smartenv-crs4/cmc-iot.git
